{% extends 'base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-5">{% block title %}Авторизация на сайте{% endblock %}</h1>
</div>
<div class="col-12 d-flex justify-content-center">
    <div class="card mb-4 box-shadow">
        <div class="card-header text-center">
            <h4 class="my-0 font-weight-normal"></h4>
        </div>
        <div class="card-body mb-4 m-lg-3">
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                <p class="mb-1">
                <label class="mb-1">{{field.label_tag}}</label>
                    <p class="mb-3">{{field}}</p>
                {% if field.error %}
                        <div class="list-group-item text-danger mb-3 text-center">{{field.errors.0}}</div>
                {% endif %}
                {% endfor %}
                <input name="next" type="hidden" value="{{ request.GET.next }}"/>
                <div class="d-grid gap-2 col-9 mx-auto mt-4">
                    <button type="submit" class="btn btn-lg btn-block btn-dark border-dark-subtle">Войти</button>
                </div>
                <div class="d-grid gap-2 col-9 mx-auto mt-3">
                    <a class="p-2 btn btn-outline-dark border-dark-subtle" href="{% url 'users:password_recovery' %}">Забыли пароль?</a>
                </div>
                    <p class="mt-4">Еще нет аккаунта?</p>
                <div class="d-grid gap-2 col-9 mx-auto mt-1">
                    <a class="p-2 btn btn-outline-dark border-dark-subtle" href="{% url 'users:registration' %}?next={{ request.GET.next }}">Регистрация</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
